<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" type="text/css" href="Static/CSS/index.css">

<body>

    {{#if err}}
        <div class="error">
            <h1 class="alert alert-danger error">{{err}}</h1>
        </div>
    {{/if}}

    <div class="jumbotron text-center" id="jumbotron-main">
        <div class="container">
            <img src="Assets/Images/White Main.svg" alt="">
            <p class="lead">The Latin School of Chicago's Political Hub</p>
        </div>
    </div>

    <div class="container" id="home-pill-tabs">
        <ul class="nav nav-pills nav-justified mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="flex-sm-fill text-sm-center nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Recent Articles</a>
            </li>
            <li class="nav-item">
                <a class="flex-sm-fill text-sm-center nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Upcoming Events</a>
            </li>
        </ul>
    </div>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="container" id="recent-articles">
                <div class="card-columns">
                    {{#each articles}}
                        <a href="/articles/{{article.id}}">
                            <div class="card">
                                <img class="card-img-top" src="{{this.ThumbnailUrl}}" alt="Card image cap">
                                <div class="card-body bg-light">
                                    <h5 class="card-title">{{this.Title}}</h5>
                                    <p class="card-text">{{this.Description}}</p>
                                    <p class="card-text"><small class="text-muted">Created on {{this.DateCreated}}</small></p>
                                </div>
                            </div>
                        </a>
                    {{/each}}
                </div>
                <div class="container-fluid text-center">
                    <button type="button" class="btn btn-light">View More</button>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="container" id="upcoming-events">
                <div class="card-columns">
                    {{#each events}}
                        <div class="card">
                            <img class="card-img-top" src="https://assets.merriam-webster.com/mw/images/source-original/2016-12-02_15-51-48---563f3796391c5dda2e1dfc0083c36d51.jpg" alt="Card image cap">
                            <div class="card-body bg-light">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    {{/each}}
                </div>
                <div class="container-fluid text-center">
                    <button type="button" class="btn btn-light">View More</button>
                </div>
            </div>
        </div>
    </div>

    <footer class="container-fluid bg-light">
        <div class="container py-5">
            <div class="row">
                <div class="col-12 col-md">
                    <img src="Assets/Images/Blue Icon.svg" width="45" height="40" alt="">
                    <small class="d-block mb-3 text-muted">© 2017-2018</small>
                </div>
                <div class="col-6 col-md">
                    <h5>About</h5>
                </div>
                <div class="col-6 col-md">
                    <h5>Articles</h5>
                </div>
                <div class="col-6 col-md">
                    <h5>Events</h5>
                </div>
                <div class="col-6 col-md">
                    <h5>My Account</h5>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>
